body {
  margin: 0;
  font-family: 'Gotham', sans-serif;
  font-weight: bold;
  background: #000;
  display: flex;
  flex-wrap: wrap;
}

#titulo {
  font-family: 'Science Gothic', sans-serif;
}

.bg {
  position: fixed;
  inset: 0;
  background:
    linear-gradient(to bottom, #00000054, #00000077),
    url('../assets/imgs/fundo_login.jpg') center/cover no-repeat;
  z-index: -1;
}

.login__box {
  max-width: 400px;
  width: 100%;
  padding: 60px 60px;
  background: #000937bb;
  backdrop-filter: blur(3px);
  border: 1px solid rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login__title {
  font-size: clamp(14px, 5vw, 30px); 
  letter-spacing: 10px;

  display: flex;
  justify-content: center;
  text-align: center;

  background: linear-gradient(90deg, #9b9b9b, #ffffff, #9b9b9b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.login__subtitle {
  font-size: clamp(10px, 5vw, 20px); 
  letter-spacing: 10px;

  display: flex;
  flex-direction: column;

  background: linear-gradient(90deg, #9b9b9b, #ffffff, #9b9b9b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   margin: 10px;
  font-weight: 485;

}
.usuario__title {
  font-size: clamp(14px, 5vw, 25px); 
  letter-spacing: 10px;

  display: flex;
  flex-direction: column;
  
  margin: 10px;

  background: linear-gradient(90deg, #9b9b9b, #ffffff, #9b9b9b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 485;

}
.login__label {
  font-size: 14px;
  letter-spacing: 2px;
  color: hsl(0, 0%, 100%);
}

.login__link {
  font-size: 13px;
  color: #d1d1d1;
  font-family: 'Gotham', sans-serif;
  font-weight: normal;
  text-decoration: none;
}

.login__link:hover {
  color: #8a9dff;
}

.login__button:hover {
  color: #00178d;
}

.login__link:hover {
  color: #dde8ff;
}

.login__input {
  background:linear-gradient(90deg, rgba(255,140,0,0.08), rgba(0,0,0,0.4));
  
  border: 1px solid rgba(255,255,255,0.25);
  color: #fff;
  border-radius: 0;
}

.login__input:focus {
  border-color: #00178d;
  box-shadow: none;
}

.login__button {
  margin-top: 15px;

  background: linear-gradient(90deg, #ddddddd8, #ffffffbe, #ddddddd8);
  border: 1px solid rgba(200,200,200,0.5);

  color: #00178d;
  font-weight: bold;
  border-radius: 0;
}

.login__button:hover {
  color: #00178d;
  background: linear-gradient(90deg, #dddddd, #ffffff, #dddddd);
}

.texto-perigo{
  font-family: 'Science Gothic', sans-serif;
  font-weight: normal;

  color: #002aff;
  margin-bottom: 2%;
}

.texto-aviso{
  font-family: 'Science Gothic', sans-serif;
  font-weight: normal;

  color: #999999;
  margin-bottom: 2%;
}

#form-login{
  margin: 0;
}

#text-center{
  margin: 0;
}

body{
    margin:0;
    background:#000938;
}

.sidebar{
    width:380px;
    height:100vh;
    padding:28px 20px;

    background:#00041b;
    border-right:1px solid rgba(255, 255, 255, 0.795);

    display:flex;
    flex-direction:column;
    box-sizing:border-box;
}

.logo-box{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.logo{
    margin:0;

    font-family:'Science Gothic', sans-serif;
    font-size:60px;
    letter-spacing:6px;

    background:linear-gradient(90deg,#5e9bff,#a5cffd,#5e9bff);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.logo span{
    font-size:60px;
}

.logo-line{
    width:100%;
    height:1px;
    margin-top:18px;
    background:rgba(255, 255, 255, 0.795);
}

.usuario-box{
    margin-top:22px;
    padding:18px 20px;
    gap:15px;

    background:#07102b;
    border:1px solid rgba(255, 255, 255, 0.795);

    display:flex;
    align-items:center;
}

.usuario-box i{
    color:#f3f6ff;
    font-size:38px;
}

.usuario-info span{
    display:block;

    font-family:'Gotham', sans-serif;
    font-weight:bold;
    font-size:18px;

    color:#ffffff;
}

.usuario-info p{
    margin:0;
    font-size:14px;

    font-family:'Gotham', sans-serif;
    font-weight:bold;

    color:#ffffffd8;
}

.menu{
    margin-top:45px;

    display:flex;
    flex-direction:column;
    gap:20px;
}

.menu-item{
    background:#0c132f;
    border:1px solid rgba(255,255,255,0.28);
    color:#8e97ad;

    text-decoration:none;
    display:flex;
    align-items:center;

    gap:16px;
    padding:0 18px;
    min-height:70px;

    box-sizing:border-box;
}

.menu-item i{
    font-size:30px;
    flex-shrink:0;
}

.menu-item span{
    font-family:'Science Gothic', sans-serif;
    font-weight:400;
    letter-spacing:3px;

    font-size:18px;
}

.menu-item.active{
    color:#98c6fe;

    border-color:#5d9afe;
    background:linear-gradient(90deg,rgba(35,75,220,0.20),#06102d);
    box-shadow:inset 0 0 18px rgba(90,120,255,0.08);
}

.menu-item:hover{
    color:#98c6fe;
    border-color:#5d9afe;
}

.sair{
    margin-top:auto;
    display:flex;
    align-items:center;

    gap:10px;
    padding:10px 2px;

    text-decoration:none;
}

.sair i{
    color:#98c6fe;

    font-size:30px;
    line-height:1;

    display:flex;
    align-items:center;
}

.sair span{
    color:#98c6fe;

    font-family:'Gotham', sans-serif;
    font-weight:bold;

    font-size:17px;
    letter-spacing:2px;
}

@media(max-width:900px){
    .sidebar{
        width:100%;
        min-height:auto;
    }
    .menu-item{
        min-height:68px;
    }
    .menu-item span{
        font-size:16px;
    }
    .logo{
        font-size:48px;
    }
    .logo span{
        font-size:52px;
    }
}
/* CAIXA PRINCIPAL */

.cadastro-box{
    border: 1px solid white;
    background: #000937bb;

    padding: 22px;

    width: 95%;

    box-shadow:
    0 0 15px rgba(0,0,0,0.25);
    color: white;
}

/* LINHA */

.row{
    align-items: end;
}

/* INPUTS */

.input-custom{
    height: 28px;

    border-radius: 0;

    border:
    1px solid
    rgba(255,255,255,0.25);

    background: #d9d9d9;

    font-size: 12px;

    padding-left: 10px;
}

/* SELECT */

.select-custom{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding-right: 30px;

    background-color: #d9d9d9;

    background-image:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23020b45' viewBox='0 0 16 16'%3E%3Cpath d='M1.5 5l6 6 6-6'/%3E%3C/svg%3E");

    background-repeat: no-repeat;

    background-position:
    right 10px center;

    background-size: 10px;
}

/* BOTÃO */

.botao-custom{
    height: 36px;
    width: 140px;

    border-radius: 0;

    border:
    1px solid
    rgba(255,255,255,0.35);

    background:
    rgba(255,255,255,0.02);

    color: #ffffff;

    font-size: 11px;
    font-weight: 700;

    letter-spacing: 3px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s ease;

    box-shadow:
    inset 0 0 10px rgba(255,255,255,0.03);
}

/* HOVER */

.botao-custom:hover{
    background:
    linear-gradient(
        90deg,
        rgba(255,255,255,0.15),
        rgba(255,255,255,0.05),
        rgba(255,255,255,0.15)
    );

    border-color:
    rgba(255,255,255,0.7);

    box-shadow:
    0 0 10px rgba(255,255,255,0.15);

    transform: scale(1.02);
}

.flex{
  display: flex;
}

.conteudo{
    margin-top: 2%;
    margin-left: 1%;
    width: 70%;
}

.cabecalho{
    font-family: 'Science Gothic', sans-serif;
    color: #d7d7d8;
    font-weight:bold;
    letter-spacing:2px;
    margin-bottom: 2%;
}

.quadrado-sensores{
  background-color: #0c132f;
  border: 1px outset;
  border-color: #ffffff;
  color: #e2e2e2;
  width: 70vh;
  display: flex;
  margin-right: 2%;
  height: 12vh;
}

.sem-quebra-linha{
  margin-right: 100%;
  white-space: nowrap;
}

.bi-broadcast-pin {
    font-size: 4em;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 7%;
}

.bi-exclamation-triangle {
    font-size: 4em;
    margin-top: 10%;
    margin-left: 4%;
    margin-right: 7%;
}

h4{
  margin: 0px;
}

.sensores{
  margin-top: 4%;
}

.manutencao{
  margin-left: 40%;
}

.quadrado-alertas{
  background-color: #0c132f;
  border: 1px outset;
  border-color: #ffffff;
  color: #e2e2e2;
  width: 25vh;
  display: flex;
}

.alertas{
  margin-top: 13%;
  margin-left: 9%;
}

.quadrado-monitoramento{
  margin-top: 2%;
  background-color: #0c132f;
  border: 1px outset;
  border-color: #ffffff;
  color: #e2e2e2;
  display: block;
  height: 62vh;
}

.sensores-alertas{
  display: flex;
}

.bi-bar-chart-line{
  font-size: 2em;
  margin-left: 2vh;
  margin-top: 2vh;
}

.monitoramento{
  margin-top: 2.8vh;
  margin-left: 2vh;
}

.sensor_caixa{
    width:95%;
    padding:20px;
    border:1px solid rgba(255,255,255,0.5);
    background:#07102b;
}

.sensor_caixa h2{
    font-family:'Science Gothic',sans-serif;
    font-size:18px;
    letter-spacing:2px;
    color:white;
    margin-bottom:20px;
}

.sensor_form{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
    align-items:end;
}

.sensor_input{
    width:180px;
    height:35px;
    background:#d9d9d9;
    border:none;
    padding-left:10px;
    font-size:12px;
}

.sensor_select{
    width:180px;
    height:35px;
    background:#d9d9d9;
    border:none;
    padding-left:10px;
}

.sensor_botao{
    height:35px;
    width:150px;

    border:1px solid rgba(255,255,255,0.4);
    background:#0c132f;
    color:white;

    font-size:11px;
    letter-spacing:2px;

    transition:.3s;
}

.sensor_botao:hover{
    border-color:#5d9afe;
    color:#98c6fe;
}

.sensor_busca{
    width:95%;
    margin-top:15px;

    background:#575d89;

    display:flex;
    align-items:center;

    padding:8px 12px;
}

.sensor_busca i{
    color:white;
}

.sensor_busca input{
    width:100%;
    margin-left:10px;

    border:none;
    outline:none;

    background:transparent;
    color:white;
}

.sensor_busca input::placeholder{
    color:#d8d8d8;
}

.sensor_tabela{
    width:95%;
    margin-top:10px;
    border-collapse:collapse;
}

.sensor_tabela th{
    background:#0c132f;
    color:white;
    font-size:12px;
    letter-spacing:1px;
}

.sensor_tabela th,
.sensor_tabela td{
    border:1px solid #3c4675;
    padding:10px;
    text-align:center;
    color:white;
}

.sensor_acoes button{
    background:none;
    border:none;
    color:white;
    font-size:18px;
    cursor:pointer;
}

.sensor_acoes button:hover{
    color:#98c6fe;
}
.sensor-vazio{
    width:95%;
    height:250px;
    margin-top:15px;
    border:1px solid #5a6699;
    background:#3c4d88;
    text-align:center;
    color:white;
    padding-top:60px;
}

.sensor-vazio i{
    font-size:60px;
}

.sensor-vazio h4{
    margin-top:10px;
}

.sensor-vazio p{
    color:#d5d5d5;
    font-size:12px;
}